.vscode
*.code-workspace
**/*.pyc
**/__pycache__/
**/.pytest_cache
htmlcov
.coverage

*.sh
startup
start

env
.env
.venv
out.txt

scripts/set_*.sh
!scripts/set_kubernetes.sh
scripts/run_*.sh
app/data/*.db*
.aider*

*.ipynb
.ruff_cache
